@import 'src/styles/variables';

.tableContainer { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tableWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableWrapperAddRow {
    flex-direction: column;
}

.table {
    border-collapse: collapse;
    font-size: 1em;
    overflow: hidden;
    display: inline-block;
}

.table td {
    padding: 0.5em;
    border: 2px dashed rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.table td input {
    display: inline-flex;
    font-size: 1em;
    padding: 0 0.5em;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    width: 6em;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.tableAddRow td:hover::before, .tableRemoveRow td:hover::before {
    content: '';  
    left: -5000px;
    position: absolute;  
    top: 0;
    width: 10000px;   
    z-index: -2;        
}

.tableAddColumn td:hover::after, .tableRemoveColumn td:hover::before {
    content: '';  
    height: 10000px;    
    left: 0;
    position: absolute;  
    top: -5000px;
    z-index: -1;  
}

.tableAddRow td:hover::before , .tableAddColumn td:hover::after { 
    background-color: $green;
}

.tableAddRow td:hover::before {
    height: 10%;
}

.tableAddColumn td:hover::after { 
    width: 10%;
}

.tableRemoveRow td:hover::before , .tableRemoveColumn td:hover::before {
    background-color: $red;
    opacity: 0.2;
}

.tableRemoveRow td:hover::before { 
    height: 100%;
}

.tableRemoveColumn td:hover::before { 
    width: 100%;
}
