@import "css-reset";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import './variables';
@import './button';

:global :root, :global body, :global #root {
  height: 100%;
}

:global :root {
  font-size: 10px;
}

.symbol {
  font-size: 0.8em;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: 0 0 0 0.4em;
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
}

.symbol.red { 
  color: $red;
}

.symbol.red:hover { 
  color: darken($red, 35%);
}

.symbol.green { 
  color: $green;
}

.symbol.green:hover { 
  color: darken($green, 35%);
}
